Repository Theosakamg/PiCar_ROS, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, bringup, description, example, navigation, slam, teleop, github

Add Bringup package
  picar_bringup/CHANGELOG.rst
  picar_bringup/CMakeLists.txt
  picar_bringup/package.xml
Labels: bringup

Add Description package
  picar_description/CHANGELOG.rst
  picar_description/CMakeLists.txt
  picar_description/package.xml
Labels: description

Add Teleop package
  picar_teleop/CHANGELOG.rst
  picar_teleop/CMakeLists.txt
  picar_teleop/nodes/picar_teleop_key
  picar_teleop/package.xml
  picar_teleop/setup.py
  picar_teleop/src/picar_teleop/__init__.py
Labels: teleop

Add Navigation package
  picar_navigation/CHANGELOG.rst
  picar_navigation/CMakeLists.txt
  picar_navigation/package.xml
  picar_navigation/rviz/picar_navigation.rviz
Labels: navigation

Add SLAM package
  picar_slam/CHANGELOG.rst
  picar_slam/CMakeLists.txt
  picar_slam/bag/.gitkeep
  picar_slam/package.xml
Labels: slam

Add Example package
  picar_example/CHANGELOG.rst
  picar_example/CMakeLists.txt
  picar_example/package.xml
  picar_example/setup.py
Labels: example

Add Meta-package
  picar/CHANGELOG.rst
  picar/CMakeLists.txt
  picar/package.xml
Labels: none

fix bad script name
  picar_teleop/CMakeLists.txt
Labels: teleop

Add bringup script
  picar_bringup/package.xml
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/twist2ackermann.py
Labels: bringup

Add driver
  picar_bringup/scripts/components/ComponentBase.py
  picar_bringup/scripts/components/Relay.py
  picar_bringup/scripts/components/Servo.py
  picar_bringup/scripts/components/Throttle.py
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/drivers/PCA9685.py
  picar_bringup/scripts/drivers/TB6612.py 
Labels: bringup

Add launcher (bad .gitignore)
  .gitignore
  picar_bringup/launch/camera.launch
  picar_bringup/launch/picar-v.launch
  picar_bringup/launch/picar_core.launch
  picar_navigation/launch/navigation.launch
  picar_teleop/launch/picar_teleop_key.launch
Labels: repo, bringup, navigation, teleop

Add URDF/SDF gen file
  picar_description/meshes/.gitkeep
  picar_description/urdf/config.urdf.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/gen.sh
  picar_description/urdf/materials.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
  picar_description/urdf/simulation/models/picar/model.config
  picar_description/urdf/simulation/worlds/picar.world
Labels: description

testing ros_control
  picar_description/config/joints.yaml
  picar_description/launch/gazebo.launch
  picar_description/launch/simu.launch
  picar_description/rviz/simu.rviz
  picar_description/urdf/picar.urdf.xacro
Labels: description

Add Mesh to URDF
  picar_description/meshes/Chassis.dae
  picar_description/meshes/WheelFrontLeft.dae
  picar_description/meshes/WheelFrontRight.dae
  picar_description/meshes/WheelRearLeft.dae
  picar_description/meshes/WheelRearRight.dae
  picar_description/urdf/config.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
Labels: description

split front/rear wheel
  picar_description/urdf/config.urdf.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
Labels: description

Add Teleop package
  picar_bringup/CMakeLists.txt
  picar_bringup/cfg/Picar.cfg
  picar_bringup/package.xml
  picar_bringup/scripts/controller.py
  picar_teleop/config/ps3.config.yaml
  picar_teleop/launch/picar_teleop_ps3.launch
  picar_teleop/package.xml
Labels: bringup, teleop

Add extra driver
  picar_bringup/CMakeLists.txt
  picar_bringup/scripts/components/Throttle.py
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/drivers/TB6612.py
  picar_bringup/scripts/drivers/TB6612.py 
  picar_bringup/scripts/twist2ackermann.py
  picar_bringup/setup.py
Labels: bringup

Add Camera motor
  picar_bringup/launch/camera.launch
  picar_bringup/launch/picar_core.launch
  picar_bringup/scripts/cammotor.py
  picar_bringup/scripts/controller.py
Labels: bringup

final Camera motor config
  picar_bringup/scripts/cammotor.py
Labels: bringup

linear odom
  picar_bringup/launch/camera.launch
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/odom.py
  picar_bringup/scripts/testodom.py
Labels: bringup

Clean loop
  picar_bringup/scripts/cammotor.py
  picar_bringup/scripts/controller.py
  picar_description/urdf/config.urdf.xacro
  picar_description/urdf/materials.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
  picar_teleop/config/mulitplexer.yaml
  picar_teleop/config/ps3.config.yaml
  picar_teleop/launch/picar_teleop_ps3.launch
  picar_teleop/package.xml
Labels: bringup, description, teleop

Add Encoded wheel
  picar_bringup/scripts/cammotor.py
  picar_bringup/scripts/components/Sensor.py
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/odom.py
  picar_bringup/scripts/twist2ackermann.py
Labels: bringup

fix bad syntaxe
  picar_bringup/scripts/components/Sensor.py
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/odom.py
Labels: bringup

Fix orrientation
  picar_bringup/scripts/odom.py
Labels: bringup

Add back/forward
  picar_bringup/scripts/odom.py
Labels: bringup

fix first loop
  picar_bringup/scripts/odom.py
Labels: bringup

fix odom
  picar_bringup/scripts/odom.py
Labels: bringup

Fix duration odom
  picar_bringup/scripts/odom.py
Labels: bringup

Steering apply
  picar_bringup/scripts/odom.py
Labels: bringup

Refine angular command
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/twist2ackermann.py
  picar_teleop/config/ps3.config.yaml
Labels: bringup, teleop

push gazebo support
  picar_control/CMakeLists.txt
  picar_control/config/ctrl_ackermann_steering_controller.yaml
  picar_control/config/ctrl_gains.yaml
  picar_control/config/ctrl_joint_state_publisher.yaml
  picar_control/config/ctrl_steer_bot_hardware_gazebo.yaml
  picar_control/launch/control.launch
  picar_control/package.xml
  picar_description/config/joints.yaml
  picar_description/launch/description.launch
  picar_description/launch/gazebo.launch
  picar_description/urdf/config.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/inertials.xacro
  picar_description/urdf/materials.xacro
  picar_description/urdf/picar.urdf.xacro
  picar_description/urdf/simulation/models/picar/model.config
  picar_description/urdf/simulation/worlds/picar.world
  picar_teleop/config/ps3.config.yaml
  picar_teleop/launch/picar_teleop_ps3.launch
Labels: description, teleop

Fix Gazebo link
  picar_control/CMakeLists.txt
  picar_control/config/ackermann_steering_controller.yaml
  picar_control/config/gains.yaml
  picar_control/config/joint_state_publisher.yaml
  picar_control/config/steer_bot_hardware_gazebo.yaml
  picar_control/launch/control.launch
  picar_control/package.xml
  picar_description/launch/gazebo.launch
  picar_description/meshes/WheelFrontLeft.dae
  picar_description/meshes/WheelFrontRight.dae
  picar_description/urdf/config.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/inertials.xacro
  picar_description/urdf/picar.urdf.xacro
Labels: description

Update URDF model
  picar_control/config/steer_bot_hardware_gazebo.yaml
  picar_description/launch/gazebo.launch
  picar_description/urdf/config.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/inertials.xacro
  picar_description/urdf/picar.urdf.xacro
Labels: description

Add more gazebo sensor
  picar_description/urdf/config.xacro
  picar_description/urdf/converter.urdf.xacro
  picar_description/urdf/imu.urdf.xacro
  picar_description/urdf/lidar.urdf.xacro
  picar_description/urdf/materials.xacro
  picar_description/urdf/openni.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
  picar_teleop/launch/picar_teleop_ps3.launch
Labels: description, teleop

Fix Openni sensor for gazebo
  picar_control/config/ackermann_steering_controller.yaml
  picar_description/meshes/sensors/asus_xtion_pro_live.dae
  picar_description/meshes/sensors/asus_xtion_pro_live.png
  picar_description/meshes/sensors/xtion_pro.jpg
  picar_description/meshes/sensors/xtion_pro_stack.dae
  picar_description/rviz/simu.rviz
  picar_description/urdf/lidar.urdf.xacro
  picar_description/urdf/openni.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
Labels: description

Add new Teleop joy (FS-i6x)
  picar_control/config/ackermann_steering_controller.yaml
  picar_description/launch/gazebo.launch
  picar_description/rviz/simu.rviz
  picar_description/urdf/lidar.urdf.xacro
  picar_description/urdf/openni.urdf.xacro
  picar_teleop/config/fsi6_std.config.yaml
  picar_teleop/config/ps3_game.config.yaml
  picar_teleop/config/ps3_std.config.yaml
  picar_teleop/launch/picar_teleop_ps3.launch
Labels: description, teleop

fix bringup code
  picar_bringup/scripts/cammotor.py
  picar_bringup/scripts/components/Servo.py
  picar_bringup/scripts/controller.py
  picar_bringup/scripts/twist2ackermann.py
Labels: bringup

Add many update for navigation
  picar_control/CMakeLists.txt
  picar_description/launch/slam_mapping_gazebo.launch
  picar_description/urdf/lidar.urdf.xacro
  picar_description/urdf/openni.urdf.xacro
  picar_description/urdf/picar.urdf.xacro
  picar_navigation/launch/slam/slam_mapping_cartographer.launch
  picar_navigation/launch/slam/slam_mapping_gmapping.launch
  picar_navigation/launch/slam/slam_mapping_hector.launch
  picar_navigation/launch/slam/slam_mapping_karto.launch
  picar_navigation/launch/slam/slam_mapping_lama.launch
  picar_navigation/launch/slam/slam_mapping_lama_pf.launch
  picar_navigation/launch/slam/slam_mapping_slam_toolbox.launch
  picar_navigation/param/amcl_params.yaml
  picar_navigation/param/costmap_common_params.yaml
  picar_navigation/param/global_costmap_params.yaml
  picar_navigation/param/local_costmap_params.yaml
  picar_navigation/param/mapper_params_lifelong.yaml
  picar_navigation/param/teb_local_planner_params.yaml
Labels: description, navigation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

bringup:
- any: ['picar_bringup/**/*']

description:
- any: ['picar_description/**/*']

example:
- any: ['picar_example/**/*']

navigation:
- any: ['picar_navigation/**/*']

slam:
- any: ['picar_slam/**/*']

teleop:
- any: ['picar_teleop/**/*']

github:
- any: ['.github/**/*']
